<html>
    <title>httpfs</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                font-family:'Courier New', Courier, monospace;
                color: navy;
            }

            input[type=text] {
                width: 400px;
            }
        </style>
    </head>

    <body>

        <h3>Choose your files, media and transcript(s)</h3>

        <button>Media file</button> <span id="media-file">No file chosen yet</span>
        <br>
        <button>Transcript One</button> <span id="file-one">No file chosen yet</span>
        <br>
        <button>Transcript Two</button> <span id="file-two">No file chosen yet</span>
        <br>
        <div style="margin: 10px;">
            <button>Load and process</button>
        </div>
        <hr/>
    </body>
</html>