<html>
    <title>httpfs</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                font-family:'Courier New', Courier, monospace;
                color: navy;
            }
        </style>
    </head>

<body>
    
    <h1>Browse the server's file system</h1>
    <p>Browse the <a href="/files">file system</a></p>
    <p>Work in Progress: <a href="/samples">Sample</a></p>

</body>

</html>